doctype 5
html
	head
		script(src='/js/jquery-1.9.1.min.js')
		title Whisper Chat Test
	body
		form(name='join-room', action='/', method='get')
			input(type="text", name="id", placeholder="Enter Room Name!")
			br
			input(type="submit", value="Join")
		hr
		form(name="create-room", action='/create', method='get')
			input(type="submit", value="Create")