extends ../layout

append scripts
	script.
		var roomid = "#{roomid}";
	script(src='/js/client.js')

block content
	.row
		.large-9.large-centered.columns
			h3 You're in room <a href="/?id=#{roomid}">#{roomid}</a>
			p.
				Share this with your partner to let them join.
				When you close this window, all messages will be deleted!
	.row
		.large-9.large-centered.columns.panel
			#messages
	br
	form#messageForm
		.row
			.large-9.large-centered.columns
				.small-9.columns
					textarea(rows="4", cols="50", placeholder="Say something!", maxlength=200)#message
				.small-3.columns
					input(type="button", value="Send")#send.button.expand